<p> Choisir une promotion : </p>
<ion-grid>
  <ion-row>
     <ion-col 
      class="cell-class" 
      size="1.3" 
      *ngFor="let promo of listPromo"
      (click)="selectPromo($event, promo.type)">
        <div class="col centerPiece">
          <app-piece
            [color]="promo.color"
            [type]="promo.type"
          ></app-piece>
        </div>
      </ion-col>
    </ion-row>
</ion-grid>