.cell-class {
    border-color: black; 
    border-width: .01em; 
    border-style:solid; margin-bottom : -1px;
}

.centerPiece {
    text-align: center;
}

ion-grid {
  height: 100%;

  ion-row {
    height: 12.5%;
  }
}