.cell-class {
    border-color: black; 
    border-width: .01em; 
    border-style:solid; margin-bottom : -1px;
}

.centerBoard {
  margin-left: 7.5%;
  height: 50%;
}

.centerPiece {
  text-align: center;
}

ion-grid {
  height: 100%;

  ion-row {
    height: 12.5%;
  }
}

.icon {
  font-size: 32px;
}

.footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:50px;
  }