<div class="centerBoard">
  <ion-grid *ngIf="chessBoard">
    <ion-row *ngFor="let grid of chessBoard.cases">
       <ion-col 
        class="cell-class" 
        size="1.3" 
        *ngFor="let cell of grid"
        [ngStyle]="{'background': cell.background}"
        (click)="onClickChess($event, cell)">
          <div class="col centerPiece">
            <app-piece
              [color]="cell.color"
              [type]="cell.type"
            ></app-piece>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
  <div *ngIf="waitingForPromo">
    <app-promo 
      [color]="waitingForPromo.color"
      (promoEvent)="onChangePromo($event)"
      ></app-promo>
  </div>
  <p *ngIf="message">
      {{ message }}
  </p>
  <div class="footer">
    <button ion-buttons icon-only (click)="restart()">
      <ion-icon class="icon" name="refresh-outline"></ion-icon>
    </button>
    <button ion-buttons icon-only (click)="exitApp()">
      <ion-icon class="icon" name="close-outline"></ion-icon>
    </button>
  </div>
</div>